.el-button{
    border-radius: 0px !important;
}

.el-button.is-circle{
    border-radius: 50% !important;
}

.el-message-box__content{
    line-height: 2 !important;
}

.el-container{
    height: 100%;
}

.el-aside{
    background: lightsteelblue;
}

.el-submenu__title ,.el-menu-item{
    background-color: lightsteelblue;
}


.el-header{
    width: 100%;
    background: rgba(127, 255, 212, 0.11);
}

.el-main{
    background: rgba(233, 150, 122, 0.42);
}
/*让高度适应浏览器的高度*/
html,body{height:100%;overflow:hidden;}